.header{
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 0;
    padding-bottom: 1vh;
    border-bottom: 0.3vh solid #000;
}
.logo{
    font-family: 'Impact', sans-serif;
    font-size: 6vh;
    font-weight: lighter;
    padding-left: 3vh;
    margin-right: 0vh;
}
.moore{
    font-family: 'Impact', sans-serif;
    font-size: 6vh;
    font-weight: lighter;
    padding-left: 3vh;
    color: #a87b05;
    margin-left: 0vh;
    padding-left: 1vh;
}
.links{
    padding-left: 25%;
    padding-right: 25%;
}
.email{
    padding-right: 1vh;
}
.linkEmail{
    color: #000;    
    margin-left: 0%;
    text-decoration: none;
}
a{
    padding: 2vh;
}


.legenda{
    font-family: 'Impact', sans-serif;
    font-size: 2.2vh;
    font-weight: lighter;
    margin-left: 0.5vh;
}
.botao{
    border-radius: 1vh;
    padding: 1.5vh;
    margin-left: 3vh;
    background-color: #ffff;
}
.botao:hover{
    background-color: #0b0b0b;
    color: #ffff;

}
.imagemIndex{
    width: 110vh;
}
.textoIndex{
    font-family: 'Impact', sans-serif;
    font-size: 9vh;
    font-weight: lighter;
    padding-left: 3vh;
    margin-top: 20%;
}
.noticia{
    color: #000;    
    margin-left: 0%;
}
.noticiaBaixo{
    margin-left: 26vh;
}
.marginNoticia{
    margin-bottom: 0;
}


/*Media Query*/
@media (max-width: 768px) {
    .logo{
        font-size: 4vh;
    }
    .moore{
        font-size: 4vh;
    }
    .textoIndex{
        font-size: 7vh;
    }
    .textoIndex{
        margin-top: 10%;
        margin-bottom: 20%;
    }
    .noticiaBaixo{
        margin-left: 0vh;
    }
    .links{
        padding-left: 10%;
        padding-right: 10%;
    }
    .marginNoticia{
        margin-bottom: 10%;
        margin-left: 10%;
    }
    
}